process {
    withLabel:process_gpu {
        clusterOptions = "--gres gpu:1 --constraint Ampere" // use either A30s or A100s - P100s don't work with dorado
        queue = "gpuq"
        cpus = 24
        memory = "100GB"
    }
    withName:SAMTOOLS_MERGE {
        module = "samtools/1.19.2"
    }
    withName:SAMTOOLS_INDEX {
        module = "samtools/1.19.2"
    }
    withName:FILTER_PASS {
        module = "bcftools/1.17:htslib/1.17"
    }
}
singularity.runOptions = "--nv -B /vast -B /stornext"  